$dark: #3C494F;
$medium: #5A6A71;
$white: #FFFFFF;

html,
body{
  padding: 0;
  margin: 0;
  background-color: $white;
}

ul{
  list-style-type: none;
  padding: 0;
}

.header{
  background-color: $dark;
  height: 4vmax;
  color: $white;
  font-weight: 400;
  font-size: 1.8vmax;
}

.menu{
  margin-top: -10px;
  background-color: $medium;
  height: 8vmax;
  color: $white;
  font-weight: 400;
  font-size: 1.8vmax;

  a{
    color: inherit;
    text-decoration: none;
  }

  .options {
    .option-group {
      float: left;
      padding: .9vmax;
    }
    .option-group div:nth-child(1){
      color: $dark;
      text-align: center;
    }
    .option-group div:not(:nth-child(1)){
      float: left;
      padding: .9vmax;
    }
  }

}

.champion{
  color: $medium;

  .name{
    font-size: 1.5vmax;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image img{
    max-width: 100%;
    height: auto;

    display: block;
    margin: auto;
  }
}

.full-container{

}


.my-to-buy{
  height: 90vh;
  overflow-y: scroll;

  .buy-container {
    margin: 0 20px;

    height: 100%;
    text-align: center;
    color: $white;
    background-color: $medium;

    .champion{
      color: $white;
    }

    ul > li {
      width: 33%;
      border-bottom: solid $white thin;
    }

    .placeholder-text {
      padding: 25px;
    }

  }

}

.available-to-buy{

  .champion-list{
    height: 90vh;
    overflow-y: scroll;
  }

}
