$dark: #3C494F;
$medium: #5A6A71;
$white: #FFFFFF;

html,
body{
  padding: 0;
  margin: 0;
  background-color: $white;
}

ul{
  list-style-type: none;
  padding: 0;
}

.header{
  background-color: $dark;
  height: 50px;
  color: $white;
  font-weight: 400;
  font-size: 0.8em;
}

.menu{
  margin-top: -10px;
  background-color: $medium;
  height: 75px;
  color: $white;
  font-weight: 400;
  font-size: 0.8em;

  a{
    color: inherit;
    text-decoration: none;
  }

  .options {
    .option-group {
      float: left;
      padding: 10px;
    }
    .option-group div:nth-child(1){
      color: $dark;
      text-align: center;
    }
    .option-group div:not(:nth-child(1)){
      float: left;
      padding: 10px;
    }
  }

}

.champion{
  color: $medium;

  .name{
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image img{
    max-width: 100%;
    height: auto;

    display: block;
    margin: auto;
  }
}

.full-container{

}

.float-left{
  float: left;
}

.selected{
  height: 80vh;
  overflow-y: scroll;

  .selected-container {
    margin: 0 0 0 20px;

    padding: 0 10px;

    height: 100%;
    text-align: center;
    color: $white;
    background-color: $medium;

    .champion{
      color: $white;
    }

    .champion-shadow{
      margin-bottom: 20px;

      -moz-box-shadow: 10px 10px 5px 0px $dark;
      -webkit-box-shadow: 10px 10px 5px 0px $dark;
      box-shadow: 10px 10px 5px 0px $dark;
    }

    ul {
      min-height: 20px;
    }

    .border-bot{
      -moz-box-shadow: 0 6px 5px -5px $dark;
      -webkit-box-shadow: 0 6px 5px -5px $dark;
      box-shadow: 0 6px 5px -5px $dark;
    }

    ul > li {
      padding: 5px 0;
    }

    ul > li:hover {
      background-color: $dark;
    }

    .placeholder-text {
      font-size: 1.5em;
      padding: 25px;
    }
  }
}

.available{

  .champion-list{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;

    padding: 0 10px;

    .champion-shadow{
      margin-bottom: 20px;

      -moz-box-shadow: 10px 10px 5px 0px $dark;
      -webkit-box-shadow: 10px 10px 5px 0px $dark;
      box-shadow: 10px 10px 5px 0px $dark;
    }

  }

}
