<div class="row">
  {{#each content as |champion|}}

        <div class="{{columnSizeClasses}}">

          {{#draggable-object content=champion dragStartAction='dragStart' dragEndAction='dragEnd'}}

            {{champion-card content=champion}}

          {{/draggable-object}}

        </div>

  {{/each}}
  </div>