<div class="header-text">{{selectedHeaderText}}</div>

{{#draggable-object-target action="dropChampion" dragOverAction="dragOver" dragOutAction="dragOut" class="draggable-area"}}

  <ul class={{borderClass}}>
    {{#if championsSelected}}
        <li {{action "clearAll"}}>Clear All</li>
    {{/if}}
  </ul>

  <div class="placeholder-text">Drag a Champion</div>

  {{champion-list content=selectedChampions containerSize="half"}}

{{/draggable-object-target}}
