{{#draggable-object-target action="dropChampion" dragOverAction="dragOver" dragOutAction="dragOut"}}
  <div class="my-to-buy col-md-6">
    <div class="buy-container">

      <div class="placeholder-text">Drag a Champion</div>

      {{#if championsSelected}}
        <ul><li {{action "clearAll"}}>Clear</li></ul>
      {{/if}}

      {{champion-list content=selectedChampions containerSize="half"}}

    </div>
  </div>
{{/draggable-object-target}}

<div class="available-to-buy col-md-6">
  {{champion-list content=availableChampions containerSize="half"}}
</div>