<div class="flex flex-row header">
  <div class="self-center">{{userName}}</div>
</div>
<div class="menu">
  <div class="container">

    <div class="options center-horizontally">

      <div class="option-group">
        <div>&nbsp;</div>
          <div>{{#link-to "application"}}Home{{/link-to}}</div>
      </div>

      <div class="option-group">
        <div>Buy</div>
        <div>{{#link-to "buy"}}Champions{{/link-to}}</div>
        <div>{{#link-to "skins"}}Skins{{/link-to}}</div>
      </div>

        <div class="option-group">
          <div>In-Game</div>
          <div>{{#link-to "pick"}}Pick{{/link-to}}</div>
          <div>{{#link-to "ban"}}Ban{{/link-to}}</div>
        </div>
    </div>

  </div>

</div>
